        #timeLine {
            position: absolute;
            top: 10%;
            left: 79%;
            height: 33%;
            width: 20%;
            background-color: #EEEEEE;
            border-radius: 10px;
        }
        
        #timeLineView {
            /* position: absolute; */
            height: 100%;
            width: 100%;
        }
        
        #timeLineView .axis path,
        .axis line {
            fill: none;
            stroke: rgb(0, 0, 0);
            stroke-width: 1px;
        }
        
        #timeLineView .axis text {
            fill: rgb(0, 0, 0);
            font-size: 10px;
        }