        #wordCloud {
            position: absolute;
            top: 8%;
            left: 1%;
            width: 19%;
            height: 55%;
        }

        #wordCloudView {
            position: absolute;
            height: 100%;
            width: 100%;
        }

